
{{game?.id}}

<button (click)="revealMines = !revealMines" [style.backgroundColor]="revealMines ? 'red' : ''">Toggle Reveal Mines</button>
<button (click)="placeFlag = !placeFlag" [style.backgroundColor]="placeFlag ? 'red' : ''">Place Flag</button>

<div class="grid" *ngFor="let row of game?.grid; let y = index" style="display: flex">
    <div class="cell" 
         *ngFor="let cell of row; let x = index" 
         style="flex: 0 0 32px" 
         [style.backgroundColor]="cell.isSelected && !cell.isFlag ? cell.selectedBy.colour : ''"
         [style.color]="cell.isFlag ? cell.selectedBy.colour : ''"
         (click)="selectCell(x, y, cell)">
        {{cell.isSelected ? (cell.isFlag ? 'F' : (cell.isMine ? 'X' : (cell.touchingMineCount === 0 ? '' : cell.touchingMineCount))) : ((revealMines || this.isGameOver) && cell.isMine ? 'X' : '')}}
    </div>
</div>

<div>
    <players></players>
</div>