#title {
    padding: 6px;

    h1 {
        color: white;
        font-family: 'terminal', 'consolas';
        font-size: 3em;
        margin: 0;
    }

    a,
    a:hover,
    a:focus,
    a:visited {
        color: white;
    }
}

.grid {
    .cell {
        width: 32px;
        height: 32px;
        background-color: white;
        border: 1px solid black;
        font-weight: bold;
    }
}
