:host {
    padding: 10px;
}

.grid {
    padding: 50px;

    .row {
        height: 32px; 
        
        .cell {
            text-align: center;
            text-transform: uppercase;
            background-color: white;

            &.blank {
                background-color: black;
            }
        }
    }
}

button.selected {
    border-color: red;
}

.input-cell {
    text-transform: uppercase;
    text-align: center;
    padding: 1px;
    height: 26px;
    width: 26px;
}