<div id="title">
    <h1>
        big-screen-puzzles / codeword
    </h1>
</div>

<div class="well">
    <input type="number" matInput [(ngModel)]="width" placeholder="Width">
    x
    <input type="number" matInput [(ngModel)]="height" placeholder="Height">
    <button (click)="newGame()">Start New Game</button>
</div>

<div class="well">
    <input type="text" matInput [(ngModel)]="gameId" placeholder="Game Id">
    <button (click)="joinGame()">Join Game</button>
</div>

<router-outlet></router-outlet>

<div style="display: flex" *ngIf="game">
    <div class="grid" [ngStyle]="{ 'width': (width * 32) + 'px' }">
        <div class="row" *ngFor="let row of game.grid; index as rowIndex" style="display: flex; width: 100%">
            <div *ngFor="let cell of row; index as columnIndex" 
                class="cell"
                [ngClass]="{ 'blank': cell.isEmpty }"
                style="flex: 0 0 32px; position: relative;"
                (click)="updateCell(rowIndex, columnIndex, selectedCharacter)">
                    <ng-container *ngIf="!cell.isEmpty">
                        <input type="text" class="input-cell" maxlength="1" [value]="reveal ? cell.value : (cell.playerValue ? cell.playerValue : '')">  
                        <span style="font-size: 8px; position: absolute; top: 1px; left: 1px">{{cell.key}}</span>   
                    </ng-container>
            </div>
        </div>
    </div>

    <div style="flex: 1 1 auto; color: white">
        <h1>Control</h1>
        <button (click)="reveal = !reveal">Toggle Reveal</button>
        <div class="row" style="display: flex; width: 416px; flex-flow: row; flex-wrap: wrap;">
            <button style="flex: 0 0 32px; height: 32px" 
                    *ngFor="let char of characters" 
                    [ngClass]="{ 'selected': char === selectedCharacter }" 
                    (click)="selectCharacter(char)">
                {{char}}
            </button>
        </div>

        <h1>Key</h1>        
        <div class="row" style="display: flex; width: 416px; flex-flow: row; flex-wrap: wrap;">
            <div *ngFor="let key of game.key" 
                 style="position: relative;"
                 (click)="updateKey(key, selectedCharacter)">
                <input type="text" class="input-cell" maxlength="1" style="flex: 0 0 26px;" [value]="reveal ? key.value : (key.playerValue ? key.playerValue: '')">  
                <span style="font-size: 8px; position: absolute; top: 1px; left: 1px">{{key.key}}</span>
            </div>
        </div>
    </div>

    <div style="flex: 1 1 auto; color: white">
        <h1>Players</h1>
        <ul>
            <li *ngFor="let player of game.players">{{player.name}}</li>
        </ul>

        <h1>Events</h1>
        <ul>
            <li *ngFor="let event of events">
                {{event}}
            </li>
        </ul>
    </div>
</div>
