
<div id="menu" style="display: flex; flex-direction: row; justify-content: center;">
    <!-- <div class="game-tile">
        New Session
    </div>
    <div class="game-tile">
        Join Session
    </div> -->
    <div class="game-tile" *ngIf="!showJoin" (click)="showGames = true">
        <!-- <div class="char">N</div> -->
        New Game
    </div>
    <ng-container *ngIf="showGames">
        <div class="game-tile" *ngFor="let game of games">
            <a [routerLink]="[{ outlets: { game: game } }]">{{game}}</a>
        </div>
    </ng-container>

    <div class="game-tile" *ngIf="!showGames" (click)="showJoin = true">
        <!-- <div class="char">J</div> -->
        Join Game
    </div>    
    <div class="game-tile" style="width: 500px; flex-basis: 500px" *ngIf="showJoin" (click)="showJoin = true">
        <input type="text" placeholder="Enter game code">
    </div>

    <div class="game-tile" *ngIf="showGames || showJoin" (click)="showGames = false; showJoin = false">
        &#8592; Back
    </div>
</div>
