<div>
    {{game?.id}}

    <button (click)="reveal = !reveal">Toggle Reveal</button>

    <div class="grid" [ngStyle]="{ 'width': (9 * 32) + 'px' }">
        <div class="row" *ngFor="let row of game?.grid; index as rowIndex" style="display: flex; width: 100%">
            <div *ngFor="let cell of row; index as columnIndex" 
                class="cell"
                style="flex: 0 0 32px; position: relative;"
                (click)="updateCell(rowIndex, columnIndex, selectedCharacter)">
                    <input type="text" 
                        class="input-cell" 
                        maxlength="1" 
                        [style.backgroundColor]="getCellBackgroundColour(rowIndex, columnIndex)"                                
                        (keyup)="updateCell(rowIndex, columnIndex, $event.key)"
                        [value]="reveal || cell.isLocked ? cell.value : (cell.playerValue ? cell.playerValue : '')">  
                    <!-- <span style="font-size: 8px; position: absolute; top: 1px; left: 1px">{{cell.key}}</span> -->
            </div>
        </div>
    </div>
</div>