#client-status {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #222;
    color: white;
    padding: 16px;
    border-radius: 24px;
    display: inline-block;

    #circle {
        content: ' ';
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background-color: red;

        &.connected {
            background-color: green;
        }
    }

    input {
        outline: none;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid white;
        font-size: inherit;
        caret-color: white;
        color: white;
    }
}