<div id="client-status">
    <form id="updatePlayer" (ngSubmit)="changeName()"></form>
    <input type="text" 
        name="playerName" 
        form="updatePlayer"
        matInput [(ngModel)]="player.name"
        [(colorPicker)]="player.colour"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'rgba'"
        [cpPosition]="'bottom'"
        [cpPositionOffset]="'0%'"
        [style.color]="player.colour"
        placeholder="Who am I?">
    <span id="circle" [ngClass]="{ 'connected': isConnected }"></span>    
</div>
